<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library App</title>
  </head>
  <body>
    <h1>Welcome to the library!</h1>
    <ul>
      <li><a href="/books"> See books here</a></li>
      <li><a href="/authors">See a list of authors</a></li>
      <li><a href="genres">See all genres</a></li>
    </ul>
  </body>
</html>
